nav.navbar.navbar-expand-lg.navbar-light.bg-light


  a.pull-left.navbar-brand(href='/surveys')
    img.logo(src='/images/logo.png')

  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/surveys') Home
      li.nav-item
        a.nav-link(href='/about') About
      li.nav-item
        a.nav-link(href='/contact') Contact
      
      
      if isAuthenticated
        li.nav-item
          a.nav-link(href='/surveys/new') New Survey
        
           
   
        li.nav-item
         
          form.nav-destroy(action=`/logout`, method="POST")
           input.destroy(type="submit" style="color: rgba(0,0,0,0.5);", value="Logout")

      if !isAuthenticated
        
        li.nav-item.navbar-right
          a.nav-link(href='/authors/new') Register
        li.nav-item.navbar-right
          a.nav-link(href='/login') Login
      
      