nav.navbar.navbar-expand-lg.navbar-dark.bg-dark

  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
  .container
    ul.navbar-nav.mr-auto.navbar-left
      li.nav-item
        a.nav-link(href='/sales') Home
      li.nav-item
        a.nav-link(href='/about') About
      li.nav-item
        a.nav-link(href='/contact') Contact
      
      
    ul.navbar-nav.mr-auto.navbar-right
      if isAuthenticated
        li.nav-item
          span
            .glyphicon.glyphicon-print

          a.nav-link(href='/sales/new') New Sale
        
           
        li.nav-item
          form.nav-destroy(action=`/logout`, method="POST")
           input.destroy(type="submit" style="font-size: 15px; color: rgba(255,255,255,0.5);;", value="LOG OUT")

      else

        li.nav-item.navbar-right
          a.nav-link(href='/authors/new') Register
        li.nav-item.navbar-right
          a.nav-link(href='/login') Login
      
      