extends ../layouts/main.pug

block content
 .container.login



        h1#my-unique-id Contact Page
        p.intro-tetx(data-attr="my value") 
        li Jahnvi Dhand (200403867)
        li Raman kaur (200375567)           
        li Manpreet kaur (200404034)           
        li Prabhjot kaur (200404323)           
    

       


