extends ../layouts/main.pug

block content
 .container.login



        h1#my-unique-id Contact Page
        p.intro-tetx(data-attr="my value") 
        li 200404320@student.georgianc.on.ca

         
    

       


