extends ../layouts/main.pug

block globals
  - title = "Survey Management"

block content
  .jumbotron.top
    h1.display-3 Survey Management!
    p.lead
      | This is a simple survey app which helps you to take surveys
    hr.my-4
    p 
      | It uses your login credentials to create survey
    p.lead
      a.btn.btn-dark.btn-lg(href='/surveys/new' role='button') Create Survey



  //- header.home-cta
  //-   h1
  //-     = title
  //-     br
  //-     small Get Creative...