extends ../layouts/main.pug

block globals
  - title = "Sale Management"

block content

      
  .jumbotron.text-center
    h1.display-3(style="color: #E0F7FA;") Sale Management!
    p.lead
      | This is a simple sale app which helps you to take sales
    hr.my-4
    p 
      | It uses your login credentials to create sale
    p.lead
      a.btn.btn-dark.btn-lg(href='/sales/new' role='button') Create Sale



