extends ../layouts/main.pug
block content
  .container
    header

    #tag 
      #int-form
      p.h1 Login
        form.login(action="/authenticate", method = "POST")
          .form-group
            label Email
            input.form-control(name="email", required)

          .form-group
            label Password
            input.form-control(name="password", type="password", required)
          
          .form-group
            button.btn.btn-dark(type="submit") Submit