form.login(action=(sale ? "/sales/update" : "/sales"), method="POST")
  if sale
    input(type="hidden", name="id", value=sale.id)

  .form-group
    label AD Title
    input.form-control(name="sale[title]", required, value=(sale ? sale.title : null))

  .form-group
    label AD Description
    input.form-control(name="sale[description]", required, value=(sale ? sale.description : null))
  .form-group
    label AD Price
    input.form-control(name="sale[price]", required, value=(sale ? sale.price : null))
  
  .form-group
    button.btn.btn-dark(type="submit") Submit