extends ../layouts/main.pug
block content
  .container
   #int-form.login
  
      label.h1 Ad Sale
      div
        h1= sale.title
        p= sale.description

      
       
      a(href='/sales') Back to All Sales
              
            
