extends ../layouts/main.pug
block content
  .container
   #int-form
  
      label.h1 Questions
      div
        p= survey.question
      
        form(action=(survey ? "/surveys/update" : "/surveys"), method="POST")
          if survey
            input(type="hidden", name="id", value=survey.id)

          .form-group
            label Your Opinion
            select.form-control(name="survey[choices]", required)
              each choices in  ['YES', 'NO']
                option(value=choices, selected=(survey && survey.choices === choices))
                  = choices
          
          
          .form-group
            button.btn.btn-dark(type="submit") Submit
      a(href='/surveys') Back to All Surveys
              
              
